$card-glow: #70416d;
$card-color: #99d8d0;
$card-text: #170a19;

.submit {
    border: 0;
    color: $card-text;
    background-color: $card-color;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    font-weight: 700;
    margin-top: 5px;
    
}
.submit:hover, .submit:focus {
    color: $card-text;
    background-color: $card-color;
    box-shadow: 0 0 5px 3px $card-glow;
}