$page-color: #e4f2f0;
$card-glow: #70416d;
$card-color: #99d8d0;
$card-text: #170a19;

.main-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  .title {
    grid-column: 1/-1;
    text-align: center;
    font-size: 45px;
    opacity: .8;
  }
}

.action-button {
  margin: 0 auto;
  padding: 0;
  border: 0;
  color: $card-text;
  background-color: $page-color;
  font-size: 10px;
  opacity: .5;
}
.action-button:hover, .action-button:focus {
  color: $card-text;
  background-color: $page-color;
  text-decoration: underline;
  box-shadow: none;
}


